.weDoContain{
    margin-top: 2vh;
    display: flex;
    width: 100%;
    justify-content: center;
}

.weDoContain .weDoBoxContain{
    background: none;
}

.weDoContain .box{
    opacity: 1;
    background-color: RGB(0, 56, 101, 0.9);
}

body{
    background-color: #003865;
}