body{
    margin: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Montserrat', sans-serif;
}

.container{

        display: flex;
        flex-direction: column;
        
}