body{
    margin: 0px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

.container{

        height: 100vh;
        display: flex;
        flex-direction: column;
        
}