.featured{
    position: absolute;
    top: 0;
    bottom: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.featured img{
    height: 100vh;
    width: 100vw;
    z-index: -100;
    opacity: 0.7;
}



