.item{
    min-height: 10vh;
    min-width: 25%;
    padding: 40px;
    vertical-align: center;

}

.item img{
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    pointer-events: none;
    vertical-align: center;
    border: 1px solid black;
    
}

.inner-carousel{
    display: flex;
    
}

.carousel{
    overflow: hidden;
    height: 65vh;
    width: 100%;
    margin-top: 5vh;
    background-color: black;
}

.carousel h3{
    text-align: center;
    color: white;
}

@media screen and (max-width: 1000px){
    .carousel{
        height: 50vh;
    }

    .item{
        padding: 20px;
        min-width: 40%;
    }
    .carousel h3{
        font-size: 2vw;
    }

}